@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:ital,wght@1,400;1,500&family=Space+Mono:ital@1&display=swap');

$Poppins : 'Poppins', sans-serif;
$Space-mono : 'Space Mono', monospace;
$Inconsolata :'Inconsolata', monospace;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    
    .logo{
        margin: 1rem 15rem;
        font-family: $Inconsolata;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    font-family: $Space-mono;
    // line-height: 1.6;
    img{
       width: 500px;
       height: auto;
       animation: beat 2s 1;

   }
   h1{
        font-size: 2.1rem;
        margin-bottom: .9rem;
        font-style: normal;
        font-weight: 700;
        letter-spacing: .2rem;
        color: #333333;
   }
   p{
        font-size: 1.4rem;
        margin-bottom: .9rem;
        font-style: normal;
        line-height: 36px;
        color: #4f4f4f;
   }

   .btn{
        padding: .8rem 1rem;
        text-transform: uppercase;
        font-size: .9rem;
        cursor: pointer;
        background-color: #333333;
        color: #fff;
        transition: transform .3s linear, box-shadow .3s linear;
        &:hover{
            transform: translate(4px, -4px);
            box-shadow: 12px 8px rgba($color: #000000, $alpha: 1.0);
        }
   }
}

@keyframes beat {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.05);
    }


}